// *********** 6 before footer 

.before-footer .pub-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px auto;
    width: 80%;
       
    img {
        width: 100%;
    }
}


//  *********** 7 footer

footer {
    background: black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
}

.wrap-footer-left {
    width: 70%;
    color: rgb(138, 133, 133);
    line-height: 25px;
}

.wrap-footer-right {
    color: white;
    .flex-img-txt {
        display: flex;
        gap: 25px;
    }
    .flex-txt {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 35px;
        gap: 25px;
       a {
            color: white;
            text-decoration: none;
            color: white;
            font-size: 15px;
        }
        a:hover {
            @include transi;
            color: red;
        }
        span {
            font-size: 13px;
        }
    }
}

.img-footer {
    width: 80%;
    img {
    width: 100%;
}
}

// *************************** responsive footer
// ********************************************

// palier 990px

@media screen  and(max-width:990px){
    footer {
    height: 100vh;  
    padding: 35px;  
        .wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
           
        }
    }
    
   
}
@media screen  and(max-width:570px){
    footer {
        height:150vh;
        padding: 35px; 
        .wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }
    
 
    
}
