body {
   background: #f4f4f4;;
   width: 100%;
   margin: 0 auto;
   font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 80%;
    padding: 15px;
    margin: 0 auto;
}


span {
    color: #c2c2c2;
}
