body {
   background: #f4f4f4;;
   width: 100%;
   margin: 0 auto;
   font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}


span {
    color: #c2c2c2;
}

@media screen and (max-width:990px){
    .wrapper {
        max-width: 950px;
    }
    
    
}
@media screen and (max-width:570px){
    .wrapper {
        max-width: 600px;
     
    }
    
}
