// header{
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
// }
// ul {
//     list-style: none;
// }
// img {
//     width: 200px;
// }
// .primary-header {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
// nav .primary-nav {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     position:  absolute;
//     background: rgba(255, 0, 0, 0.228);
//     text-align: center;
//     transform: translateX(-100%);
//     transition: .3s all ease-in-out;
    
// }

// .txt-menu-center {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     gap: 50px;
//     width: 100%;
//     height: 100%;
// }

// body.--isActive .primary-nav{
//     transform:translateX(0);
    
// }
// .--isActive .burger-menu{
//     div:nth-of-type(1) {
//         transform:  rotate(45deg) ;
//         top: 50%;
//         left: 25%;    
       
//     }
//     div:nth-of-type(3) {
//         transform: rotate(-45deg);
//         top: 50%;
//         left: 25%;
//     }
//     div:nth-of-type(2) {
//        display: none;
       
//     }
// }



// .burger-menu {
//     width: 100px;
//     height: 100px;
//     border: 2px solid red;
//     margin: 45px 45px;
//     // index pour le bouton toggle
//     z-index: 99;
//     position: relative;
//      div {
//     background: red;
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       width: 50%;
//       height: 4px;
//       transform: translate(-50%,-50%); 
//     }
//         div:nth-of-type(1) {
//             top: 30%;
            
//         }
//         div:nth-of-type(2) {
//             top: 50%;
            
//         }
//         div:nth-of-type(3) {
//             top: 70%;
            
//         }
        
   
// }

// **********************  header barre noire
header {
    width: 100%;
    background: black;
    color: #cdcfd8;
}
.header-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left {
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.header-top-right {
   gap: 35px;
    display: flex;
    justify-content: space-between;
}


// **********************  header middle

.header-middle {
    margin: 25px auto;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

//  ********************* header bottom rouge
nav {
    background: #ff2143;
    text-transform: uppercase;
    font-weight: 600;
   
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
         height: 100px;
    }
    
}
.link-nav {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white;
        text-decoration: none;
    }
}
.icones-sociales {
   
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 15%;
    .sociales {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .loupe {
        
        a {
            text-decoration: none;
            color: white;
        }
    }
}



