
// **********************  header barre noire
header {
    width: 100%;
    background: black;
    color: #cdcfd8;
}
.header-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left {
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.header-top-right {
   gap: 35px;
    display: flex;
    justify-content: space-between;
}


// **********************  header middle

.header-middle {
    margin: 25px auto;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

//  ********************* header bottom rouge
nav {
    background: #ff2143;
    text-transform: uppercase;
    font-weight: 600;
   
    .wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100px;
    }
    
}
.link-nav {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white;
        text-decoration: none;
    }
}
.icones-sociales {
   
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 15%;
  
    .sociales {
        display: flex;
        gap: 25px;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
             transform: rotateY(360deg);
            transition: .6s all ease-in-out;
        }
    }
    .loupe {
       
        a {
            text-decoration: none;
            color: white;
        }
    }

    
}



// **************************** responsive header top
@media screen and (max-width:990px) {
    .header-top {
        .header-top-left .property{
            display: none;
        }
    }
    .header-middle {
        .logo {
            display: none;
        }
        .pub-banner {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }

    }
    // naviguation
    .link-nav {
    display: none;
    }
    .icones-sociales {
        display: none;
    }
    nav .wrapper{
      position: relative;
    }
    nav span::before {
        content: '';
        background: url(../img/logo/logo.png)no-repeat;
        width: 90%;
        height: 100%;
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        
        }
    .burger-menu {
        width: 100px;
        height: 100px;
        z-index: 1;
        position: relative;
        div {
            background: white;
            position: absolute;
            width: 50%;
            height: 4px;
             }
            div:nth-of-type(1) {
                top: 30%;
                
            }
            div:nth-of-type(2) {
                top: 50%;
                
            }
            div:nth-of-type(3) {
                top: 70%;
                
            }
    
   
    }
    .wrap-flex-menu {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }

    }






