// about page

//  1 our mission article 
.article-mission .wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 45px auto;
    span {
        position: relative;
    }h3 {
        font-size: 30px; 
   
    }   
    p {
        font-size: 14px;
        line-height: 25px;
    }
 

}

.wrap-title-mission{
    display: flex;
    gap: 80px;
    
}
.article-mission span::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}


//  2 before footer bg page about avec différent bg

.before-footer-abs{
    height: 800px;
    position: relative;
    .wrap-bg {
        height: 100%;
        display: flex;
    .bg-red {
            background: red;
            width: 50%;
            height: 100%;
    }
        .bg-black {
            background: black;
            width: 100%;
            height: 100%;
        }

    }
 

}

.wrap-before-abs {
    width: 50%;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: white;
    .txt-services {
        width: 30%;
        span {
            color: rgb(167, 45, 45);
            font-size: 20px;
            text-transform: uppercase;
        }
        h1 {
            font-size: 45px;
            font-weight: 700;
        }
        p {
            margin-bottom: 55px;
        }
        a {
            color: white;
            background: rgb(167, 45, 45);
            padding: 15px 25px;
            text-decoration: none;
        }
    }

}

//  ******** 4 grid de 3 images  : team members
.team-mambers {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    span {
        color:#eb566c;
        text-transform: uppercase;
        font-size: 18px;
    }
    h2 {
        font-size: 40px;
        font-weight: 700;
    }

}
.wrap-title-members {
    position: relative;
    display: flex;
    gap: 65px;
}

.wrap-title-members span:nth-of-type(1):before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}



.wrap-img-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    
    img {
        width: 100%;
       
    }
    .wrap-name {
        display: flex;
       justify-content: center;
       padding: 25px;
        height: 25%;
        flex-direction: column;
        background: white;
        a {
            text-decoration: none;
            color: black;
            font-size: 30px;
            font-weight: 600;
        }
        span {
            margin-top: 15px;
            color: #eb566c;
            font-size: 13px;
        }
    }
}
.wrap-job {
    position: relative;
    display: flex;
    align-items: center;
    gap: 45px;
}

.wrap-job span:nth-of-type(1)::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.hover-img {
    overflow: hidden;
}

.hover-img:hover img {
    transform: scale(1.15);
   transition: .5s all ease-in-out; 
}



   