// homepage

// *************************  2 ARTICLE EN GRID DE LA HOME 3 images

.article-top {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    border-bottom: 1px solid rgb(209, 206, 206);

    .bloc-img-text1 {
        grid-column: span 2;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
        .overlay img{
            width: 110%;
        }
        
       
    }
    .bloc-img-text2 {
        display: flex;
        flex-direction: column;
         gap: 25px;
         overflow: hidden;
        width: 100%;
        .overlay1 {
            width: 100%;
            overflow: hidden;
        }
        .overlay1 img{
            width: 100%;
            
        }
        .overlaya {
            width: 100%;
        }
        .overlaya img {
            width: 100%;
        }

        
    }
    .abs-text{
        position: relative;
        border-radius: 25px;
    }
   
}


// txt dans les images  

.txt-abs1, .txt-abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    width:80%;
    height: 100%;
    color: white;
    span:nth-of-type(2) {
        color: #c2c2c2;
        font-size: 13px;
    }
    span:nth-of-type(1) {
        color: white;
        font-size: 13px;
        padding: 5px 18px;
        background: blue;
        align-self: flex-start;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    a{
        color: white;
        text-decoration: none;
        margin-bottom: 15px;

    }
    a:hover {
        @include transi;
        color: red;
    }


}

// image de gauche

.txt-abs1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px;
    a{
        font-size: 25px;
        font-weight: 700;
    }
    span:nth-of-type(1) {
        color: white;
        font-size: 13px;
        padding: 5px 18px;
        background: rgb(51, 255, 0);
        align-self: flex-start;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
}
// images de droite

.txt-abs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    span:nth-of-type(1) {
        color: white;
        font-size: 13px;
        padding: 5px 18px;
        background: rgb(17, 0, 255);
        align-self: flex-start;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    a {
        font-size: 18px;
        font-weight: 700;
    }
    
}

// filtre sur les images

.overlay::before, .overlay1::before, .overlaya::before {
    content: '';
    background: linear-gradient(0deg, rgb(0, 0, 0) 8%, rgba(0, 0, 0, 0.068) 58%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}
// ********************************** responsive de la partie 2 
// *************************************************************
// *************************************************************

// palier 990px

@media screen and (max-width:990px){
    .article-top {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        padding: 35px;
        .bloc-img-text1 {
            margin-bottom: 15px;
            .overlay {
                width:100%;
                img {
                    width: 100%;
                }  
            }
        }
        .bloc-img-text2 {
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            gap: 25px;
            .overlaya {
                width: 100%;
            }
            .overlaya::before {
                height: 60%;
            }
            div:nth-of-type(2) {
                .txt-abs {
                    top: 40%;
                   justify-content: center;
                   height: 25%;
                }
            }
        }
        
    }

}

// palier 570px

@media screen and (max-width:570px){
    .article-top {
        display: grid;
  
      
        .txt-abs1 a{
            font-size: 12px;
        }
        
        .bloc-img-text2 {
          
            display: grid;
            grid-template-columns:1fr;
            gap: 25px;
        }
        .abs-text{
            position: relative;
            border-radius: 25px;
            a {
                font-size: 12px;
            }
        }
    }


}

// -----------------------------------------------------------
// ******************  3 ARTICLE EN GRID dans un grid avec du grid ouch! *********
// -----------------------------------------------------------------
// tout le tableau complet en grid

.article-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

// colonne gauche du grid avec du flex

.new1 {
   
    width: 50%;
    h2 {
        margin: 0;
        margin-bottom: 35px;
    }
    a {
        font-size: 25px;
        text-decoration: none;
        font-weight: 600;
        color: black;
    }
    a:hover {
        color: red;
        @include transi;

    }
    span { 
        font-size: 12px;
       
    }
    p {
        line-height: 25px;
    }
   
}
.wrap-title-new {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.scale-img-news {
    overflow: hidden;
    margin-bottom: 20px;
}
.scale-img-news:hover img {
    transform: scale(1.05);
    @include transi;
}




.link-news {
    display: flex;
    justify-content: space-between;
}

.new2 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .img-news {
        width: 70%;
        overflow: hidden;
    }
    img {
       width: 100%;
    }
}

   .flex-new {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    img {
        width: 100%;
    }
    
    div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        span:nth-of-type(1) {
            color: green;
            font-weight: 400;
        }
        a {
            text-decoration: none;
            color: black;
            font-weight: 400;
        }
        a:hover {
            @include transi;
            color: red;
           }
    }
    
   }

.wrap-sans-pub {
    display: flex;
    gap: 25px;
    background: white;
    margin-bottom: 25px;
    padding: 25px;
}

// colonne de droite : fans en nombre + article en-dessous "most "

.fans-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 25px;
    background: white;
    gap: 15px;
    margin-bottom: 30px;
    .border-fans-table {
        gap: 15px ;
        display: flex;
        border: 1px solid rgb(231, 231, 231);
        padding: 15px 45px;
        .flex-nbre-fans {
            display: flex;
            flex-direction:column;
            span {
                color: black;
                font-weight: 600;
            }
            span:nth-of-type(2){
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
  
}

// article most recent
.article-most-recent {
    background: white;
    padding: 15px;
    width: 100%;
    .relative-overlay {
        position: relative;
    }
    img {
        width: 100%;
        border-radius: 15px;
    }
}

.txt-recent {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    a {
        text-decoration: none;
        color: white;
        padding: 8px 15px;
        background: rgb(175, 31, 175);
        font-size: 12px;
        border-radius: 10px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 16px; 
    }
    span {
        font-size: 14px;
    }
}

.relative-overlay {
    margin-bottom: 25px;
}

.overlay2::before {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.514) 8%, rgba(11, 11, 122, 0.384) 70%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    border-radius: 15px;
}


.article-grid-most {
  display: flex;
    width: 100%;
    justify-content: flex-start;
 
  img {
    width: 100%;
    border-radius: 10px;
  }
  .flex-most {
    padding: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 600;
    }
    a:hover {
        color: red;
        @include transi;

    }
  }
}
// ********************************** responsive de la partie 3
//  *************************************************************
//  *************************************************************

// palier 990px
@media screen and (max-width:990px) {
    .article-middle {
        display: grid;
        grid-template-columns:1fr;
        .wrap-link-life {
            display: block;
        }
      
    }
    .wrap-sans-pub {
        display: grid;
        grid-template-columns: 1fr;
        .new1 {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .new2 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .link-news{
                display: none;
            }
            .flex-new{
                width: 80%;
            }   
        }
            
        }
    
    
// palier 570 px
@media screen and (max-width:570px){
  
.wrap-sans-pub {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    .new1 {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .new2 {
        width: 100%;
        .link-news{
            display: none;
        }
        .flex-new{
            width: 80%;
        }   
    }
        
    }
    .wrap-news {
        .pub-banner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    }
   


}


// *********  4 ARTICLE EN GRID mais sur une ligne avec pub mauve travel europe + 3 img******

.article-bottom {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 25px;
    div:nth-of-type(1) {
        img {
            width: 100%;
        }
        a:hover {
            color: red;
            @include transi;
    
        } 
    }
}
.wrap-new1 {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-article-bottom {
    width: 100%;
    background: white;
    padding: 15px;
}
.wrap-article-bottom {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    .new1 img {
        width: 100%;
    }
}
// ********************************** responsive de la partie 4
// *************************************************************
// *************************************************************
@media screen and (max-width:990px) {
    .article-bottom {
        grid-template-columns: 1fr;
        .pub-left {
            display: none; 
        }
        .wrap-new1 {
          width: 180%;
          a {
            font-size: 16px;
          }
        }

        
        
    
    }  

    .wrap-article-bottom {
      
        .new1:nth-of-type(1) {
            display: none;
        }
        .img-new1 {
        width: 100%;
        }
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width:570px) {
    
    .wrap-article-bottom {
        .new1:nth-of-type(2) {
            display: none;
        }
        .img-new1 {
        width: 200%;
        }
        img {
            width: 100%;
        }
    }
}


// *********  5 ARTICLE EN GRID bande blanche trending news avec icone play******************

.trending-news{
    background: white;
    height: 500px;
    h4 {
        font-size: 35px;
        margin-bottom: 15px;
    }
  
}
.wrap-trending {
    display: flex;
    align-items: center;
    justify-content: space-between;
   .trending {
    width: 30%;
    position: relative;
 
   }
   .img-trending {
    width: 100%;
   }
    img {
        width: 100%;
    }
   }
.wrap-abs-trending {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
   
}

.bg-wrap-abs {
    width: 70%;
    height: 30%;
    background: white;
    padding: 15px;
    a {
        font-size: 18px;
        margin: 0;
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: red;
        @include transi;

    }
    span{
        font-size: 12px;
    }
    .flex-icone-play {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: rgb(163, 151, 151);
        }
    }
}

// ********************************** responsive de la partie 5
// *************************************************************
// *************************************************************
@media screen and (max-width:990px) {
    .wrap-trending {
       
       .trending {
        width: 100%;
        padding: 15px;
       }
        img {
            width: 100%;
        }
       }  
    .trending:nth-of-type(1){
        display: none;
    }
    .bg-wrap-abs {
        width: 80%;
        height: 60%;
        background: white;
        padding: 15px;
        a {
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: red;
            @include transi;
    
        }
        span{
            font-size: 14px;
        }
        .flex-icone-play {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a {
              
                text-decoration: none;
                color: rgb(163, 151, 151);
            }
        }
    }

}

@media screen and (max-width:570px) {
    .trending-news {
       height: 600px;
        .trending {
         width: 100%;
        }
         img {
             width: 100%;
         }
        }  
     .trending:nth-of-type(1){
         display: none;
     }
     .trending:nth-of-type(2){
         display: none;
     }
     
}
