// *********  2 ARTICLE EN GRID DE LA HOME

.article-top {
    padding-top: 35px;
    padding-bottom: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    border-bottom: 1px solid rgb(209, 206, 206);

    img {
        width: 100%;
    }
    .bloc-img-text1 {
        grid-column: span 2 ;
        position: relative;
        border-radius: 25px;
       
    }
    .bloc-img-text2 {
        display: grid;
        gap: 25px;
    }
    .abs-text{
        position: relative;
        border-radius: 25px;
    }
}

.txt-abs1, .txt-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: white;
    h2 {
        margin: 0;
    }
    span {
        color: #c2c2c2;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
    }

}

.txt-abs1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px;
    
}
.txt-abs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    
}


.overlay::before {
    content: '';
    background: linear-gradient(0deg, rgb(0, 0, 0) 8%, rgba(22, 22, 22, 0.158) 58%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// *********  3 ARTICLE EN GRID dans un grid avec du grid ouch!

// tout le tableau grid
.article-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
   
}

// col gauche du grid avec du flex
.wrap-news {
    gap: 25px;
    padding: 25px;
}

.new1 {
    width: 50%;
    h2 {
        margin: 0;
        margin-bottom: 35px;
    }
    h3 {
        font-size: 25px;
    }
    span { 
        font-size: 12px;
       
    }
    p {
        line-height: 25px;
    }
   
}


.new2 {
    div:nth-of-type(1) {
        width: 100%;
        font-weight: 600;
        margin-bottom: 35px;
        a {
            padding-right: 10px;
            text-decoration: none;
            color: black;
        }
        a:nth-of-type(1) {
            color: red;
        }
    }
   .flex-new {
     width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    img {
        width: 100%;
    }
    div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        span:nth-of-type(1) {
            color: green;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
    
   }
}
.wrap-sans-pub {
    display: flex;
    gap: 25px;
    background: white;
    margin-bottom: 25px;
}

// col droite : fans nombre + article en-dessous

.fans-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 25px;
    background: white;
    gap: 15px;
    .border-fans-table {
        gap: 15px ;
        display: flex;
        border: 1px solid grey;
        padding: 15px 55px;
        .flex-nbre-fans {
            display: flex;
            flex-direction:column;
            span {
                color: black;
                font-weight: 600;
            }
            span:nth-of-type(2){
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
  
}

.article-most-recent {
    background: white;
    img {
        width: 100%;
    }
}
